header {
    background: white;
    padding: 10px 10px 0 0;
  

    
}

body {
    background: #f9f9f9;
}

.video {
    background: #f9f9f9;
    display: inline-block;
    padding: 25px 25px 20px 25px;
}


.video_title {
    background: #f9f9f9;
    display: inline-block;
    height: 25px;
    width: 550px;
    margin-left: 25px;
    margin-top: 1px;
    font-size: large;
}

aside {
    background:#f9f9f9;
    margin-top: 5px;
    padding: 10px;
    display: flexbox; 
    float: right;
    width: 750px;
}


.comments {
    background: #f9f9f9;
    margin-left: 11px;
}